body {
	background-color:bisque;
}

.titulo {
	width: 100px;
	height: 100px;
	font-family: 'Anton', sans-serif;
	font-size: 50px;
	display: inline;
	margin-left: 400px;
}

.bandera {
	width: 300px;
	height: 200px;
	background-color: #1D70A2;
	margin: 50px;
	margin-top: 150px;
	display: inline-block;
}

#suecia { background-color: #1D70A2; } 

.franja1 {
	width: 35px;
	height: 200px;
	margin-left: 90px;
	background-color: #E6C229;
	position: absolute;
}

.franja2 {
	width: 300px;
	height: 35px;
	background-color: #E6C229;
	position: absolute;
	margin-top: 80px;
}

#laos { background-color: #DD1C1C; }

.franja3 {
	width: 300px;
	height: 95px;
	background-color: #122365;
	position: absolute;
	margin-top: 55px;
}

.franja4 {
	width: 80px;
	height: 80px;
	background-color: white;
	position: absolute;
	border-radius: 100%;
	margin-left: 110px;
	margin-top: 63px;
}
#puertorico { background-color: #F81F1F; }

.franja5 {
	width: 300px;
	height: 40px;
	background-color: white;
	position: absolute;
	margin-top: 40px;
}

.franja6 {
	width: 300px;
	height: 40px;
	background-color: white;
	position: absolute;
	margin-top: 120px;
}

.franja7 {
	width: 0px;
	height: 0px;
	position: absolute;
	border-top: 100px transparent solid;
	border-right: 0 transparent solid ;
	border-bottom: 100px transparent solid;
	border-left: 180px #0033FF solid;
}

.franja8 {
	width: 65px;
	height: 65px;
	position: absolute;
	margin-left: 40px;
	margin-top: 65px;
}
